{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}

{% block content %}
	{% include '_header.html.twig' %}
	<h1>Guettez les burgers !</h1>
    <h3>Voici la liste des burgers :</h3>
    <p>Y'en a pas</p>
	{% include '_footer.html.twig' %}
{% endblock %}

